@value colors: "../../colors.css";
@value light-gray, dark-gray, gray, green, blue-gray, light-blue from colors;

.leftColumn {
  padding-top: 4px;
  width: 15px;
  white-space: nowrap;
}
.indicator {
  display: inline-block;
}
.name {
  margin-left: 7px;
  display: inline-block;
}

.centralColumn {
  width: 100%;
  padding-top: 20px;
}

.rightColumn {
  padding-top: 29px;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  color: gray;
}

.payment {
  font-size: 14px;
}

.isPayed {
  margin-top: 4px;
}

.tradeitem {
  font-size: 12px;
  padding: 10px 5px 10px 20px;
  display: flex;
  border-top: 1px solid white;
  border-bottom: 1px solid light-gray;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.tradeitem:hover {
  background-color: light-blue;
}

.selected {
  background-color: light-blue;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
  z-index: 10;
}

.name {
  font-size: 11px;
  color: gray;
  font-weight: 600;
}

.indicator {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.graybg {
  background-color: lightgray;
}

.greenbg {
  background-color: green;
}

.date {
  font-size: 10px;
  color: dark-gray;
}

.payment {
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}

.amount {
  padding-top: 5px;
  font-size: 11px;
  letter-spacing: -0.05em;
  font-weight: 600;
  white-space: nowrap;
  color: gray;
}

.date {
  font-size: 9px;
  padding-top: 5px;
  color: gray;
}

.payed {
  color: green;
}
